*.log
*.tmp
*.swp
*.bak
*.old

*.o
*.out
*.so
*.a
*.dylib
*.exe

*.dSYM/
*.stackdump
core

build/
dist/
__pycache__/
*.egg-info/

*.py[cod]
*.pyo
*.pyd
*.ipynb

venv/
env/
.venv/
.python-version
.ipynb_checkpoints/

.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

.DS_Store
.AppleDouble
.LSOverride

*.~ 
*.tmp
